<!DOCTYPE html>

<html>

<head>
  <meta lang="es-us" charset="utf-8">
  <title>Burgers</title>
  
   <!--JQuery CDN-->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <!--Materialize CSS-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  {{!--Custom stylesheet--}}
  <link rel="stylesheet" href="/assets/css/burger_style.css">
  
</head>

<body>

  {{{body}}}

</body>


</html>
